<header class="headerIndex">
    
  <h1 > Geek It !</h1>
  <h4 class="font-slogan">
    CONECTANDO <span class="color-green">Bootcamps</span> <br>  <span class="color-green">Creando</span> COMUNIDADES
  </h4>
  

 
  
</header>
<nav class="login">
  <input id="sign-in-reg" class="input-type mr-sm-2" type="email" placeholder="Email">

  <div class="form-group">
    <input id="password-reg" class="input-type mr-sm-2" type="password" placeholder="Contraseña">
    <small id="emailHelp" class="form-text text-muted">Nunca compartas tu contraseña</small>
    <section id="show">
    </section>
  </div>

  <button class="button-nav color-login" id="button-sign-in-reg">Iniciar Sesión</button>
  <!-- Creo enlace de registrarse para enrutarlo -->
  <a href="#/registro" class="margin-ref"><u>Registrarse</u></a>

  <div class="row">
    <div class="col-5">
      <hr class="border-color-green">
    </div>

    <div class="col-2" id="titulo">
      <p> Ó </p>
    </div>

    <div class="col-5">
      <hr class="border-color-green">
    </div>
  </div>

  <button class="button-nav color-facebook" id="button-sign-in-facebook"><img src="assets/img/facebook-logo.png">
    Iniciar con Facebook </button>
  <button class="button-nav color-twitter" id="button-sign-in-git"><img src="assets/img/github-logo.png"> Iniciar con
    Git-Hub</button>
  <button class="button-nav color-google" id="button-sign-in-google"><img src="assets/img/google.png"> Iniciar con
    Google</button>
    
</nav>
