<div class="register-div">


<h5 class="margin-title color-green" id="exampleModalLabel">Registrar una nueva cuenta</h5>

<div class="modal-body">
  <form data-toggle="validator" role="form" name="add-form">
    <input class="input-type margin-input mr-sm-2" type="text" name="userId" placeholder="Nombre" id="name">
    <input class="input-type margin-input mr-sm-2" type="email" name="email" id="sign-in-new" placeholder="Ingresa email">
    <input class="input-type margin-input mr-sm-2" type="password" name="password" id="password-new" placeholder="Contraseña">
    <section id="error-reg"></section>
    <select id="select" class="margin-input select-class" name="select">

      <option>Selecciona Bootcamp</option>
      <option value="Bedu" name="boot">Bedu</option>
      <option value="Iron Hack" name="boot">Iron Hack</option>
      <option value="Hub Camps" name="boot">Hub Camps</option>
      <option value="Muktek" name="boot">Muktek</option>
      <option value="Le wong" name="boot">Le Wong</option>
      <option value="Laboratoria" name="boot">Laboratoria</option>
      <option value="Tec de Monterrey" name="boot">Tec de Monterrey</option>
    </select>
    <p id="modal-invalid-email"></p>
  </form>
</div>

<div class="modal-footer">
  <p id="modal-warning"></p>
  <button type="button" id="button-comeback" class="btn color-white">Cerrar</button>
  <button type="button" id="button-sign-in-new" class="btn color-back-green">Registrar</button>
</div>
<footer>Geek it Derechos Reservados 2019.</footer></div>