<header>
    <nav class="nav justify-content-center" id="blockBar">
        <button class="navbar-toggler btn-avatar" data-toggle="collapse" data-target="#navbarMenu" >
            <span id="avatar-user"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav" id="infoUser">
                <br>
                <li>Bienvenid@</li>
                <li id="name-user"></li>
                <p id="emailUser"></p><br>
            </ul>
            <div id="contenido"></div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div id="showme">
                        <button id="signOut" style="color:white; border:none; background-color: #2e2e2e;     margin-top: 1em;">Cerrar
                            sesión</button>
                    </div>
                    
                </li>
            </ul>
    </nav>
</header>


<h1 class="titleWall">Geek it !</h1>

<div class="container">

    <div class="text-area-publicar">
        <textarea class="text-area" id="comentario" placeholder="¿Qué estás pensando?"></textarea>

        <button class="button-publicar style-publicar" id="publicar">Publicar</button>
    </div>
    <br>

    <section id="muro">
    </section>

</div>

<footer>Geek it Derechos Reservados 2019. Red InterBootcamp.</footer>