html,body{
    background-color: #2E2E2E;
    color: white;
 
 }
.login{
    width: 100%;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 20%;
    color: white;
}
input::placeholder { 
    color: white; 
}
.headerIndex{
    padding-top: 4%;
    padding-left: 5%;
    color: #7fff00;
}
header h1{
    margin:0px;
    font-size:9vw;

}

 
 .nav-item {
    padding: 5px 25px;
    font-size: 22px;
 }
 
 #areaPost {
    width: 250px;
    height: 100px;
    color: white;
    text-align: left;
    background-color: rgb(88, 88, 88);
    position: relative;
    left: 26px;
    padding: 5px;
 }
 
 .nav-link {
    color: white;
    font-size: 18px;
 }
 
 #blockbar {
    padding: 5px;
 
 }
 
 a.nav-item {
    position: relative;
    bottom: -8px;
    color: white;
 }
 
 #infoUser {
    text-align: center;
    color: white;
    font-size: 16px;
 }
 
 .comments {
    height: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    background-color: #2e2e2e;
 
 }
 
textarea{
    height: 81px;
    width: 305px;
    position: relative;
    

}

 .comment {
    width: 290px;
    height: 125px;
    color: white;
    text-align: left;
    background-color: #2e2e2e;
 
 
 
 }
 
 
h4 {
    color: white;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    text-align: center;
}

.color-green{
    color:#7fff00;
}
.input-type{
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    width: 100%;
    background-color: #2e2e2e;

}
#password-reg{
    padding-top: 2em;
}
input:focus{
    outline: none;
}
.button-reg{
    background-color: #2e2e2e;
    border:none;
    color:#81d1d9;
   position: relative;
   left: 73%;

}
.button-reg:focus{
    outline:none
}
.button-nav{
    color: white;
    width: 100%;
    height: 3em;
    border-radius: 2px;
    border:none;
}
.color-login{
    background-color: #47525e;
    margin-top: 1em;
}
.color-twitter{
    background-color: #8492a6;
    margin-top: 1.5em;

}
.color-facebook{
    background-color: #3c4858;
    margin-top:.5em;
    
}
.color-google{
    background-color: #c0ccda;
    margin-top: 1.5em;
}

button img {
    
    left: 60px;
}

h1{
    text-align: center;
    color:chartreuse;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
 
}
#titulo{
    color:chartreuse;
}
p{
    padding-top:1em;
    margin: 0px;
}

 footer {
    
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 15px;
 }

 .modal-background{
    background-color: #2e2e2e;
    margin-top: 6em;

 }
 .margin-input{
    margin-bottom:2em;

 }

 button:hover{
     opacity: .8;
 }
 .select-class{
    border-radius: 4px;
    /* background-color: chartreuse; */
    width: 60%;
    padding-left: 2%;
 }
 .radio-margin{
    margin-left: 20%;
 }
 .alert{
    border-radius: 4px;
    padding-left: 3%;
    margin-top: 1em;
    margin-bottom: 0px;
 }
 .margin-warning{
    padding:0px;
 }

 .avatar{
   width:45px; 
   height:45px;
   border-radius: 50%;
 }