* {
    background-color: #2E2E2E;

}

header {

    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 30px;
}

.nav-item {
    padding: 5px 25px;

}

.nav-link {
    color: white;
}

a.nav-item {
    position: relative;
    bottom: -8px;
}

.comments {
    display: block;
    height: auto;
    color: white;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.comment{
width: 290px;
height: 125px;
color: white;
text-align: center;
background-color: rgb(88, 88, 88);
flex-direction: column;


}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
}

